html {
  width: 100%;
}
body {
  width: 95%;
}

header {
  margin-top: 5rem;
}

nav {
  font-family: "Chilanka", cursive;
  letter-spacing: 0.5rem;
  font-size: 1rem;
}

h1,
h4 {
  font-family: "Courgette", cursive;
  letter-spacing: 0.5rem;
}
h5 {
  font-family: "Dancing Script", cursive;
  letter-spacing: 0.3rem;
}
#objectifs .card {
  border-radius: 2rem;
  background-color: #fae9d9;
}

/* font-family: 'Lobster', cursive;
 font-family: "Satisfy", cursive;

 */
