html {
  width: 100%;
}
body {
  width: 95%;
}
h1 {
  font-family: "Satisfy", cursive;
}
/* font-family: 'Lobster', cursive;
font-family: 'Dancing Script', cursive;

font-family: 'Courgette', cursive;
font-family: 'Chilanka', cursive; */
