html {
	width: 100%;
	
}
body {
	width: 98%;
	margin: auto;
}

/* Header */

header {
	display: block;
	justify-content: center;
}

/* Navbar */

#logoNavbar {
	width: 160px;
}

a {
	font-family: "Catamaran", sans-serif;
	font-weight: 800;
	color: #434343;
	font-size: 16px;
}
li {
	padding-right: 1rem;
}
ul {
	margin: auto;
}

@media (min-width: 992px) {
	.navbar-expand-lg .navbar-nav .nav-link {
		padding-right: 0.2rem;
		padding-left: 0.2rem;
	}
}

/* Banner */

#banner {
	background-image: url("images/bannière3.jpg");
	display: block;
	justify-content: center;
	height: 500px;
}

/* Sections */

#quiz {
	min-height: 100%;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

#quiz img {
	padding: 0.5rem;
}

#quiz .card img {
	width: 100%;
	height: 100%;
	position: relative;
}

#statistics {
	background-image: url("images/img-parallax.jpg");
	color: white;
}
/* Sub-sections elements */


.media {
	display: flex;
	justify-content: center;
	padding-top: 4rem;
}

.media-body {
	padding-top: 2rem;
}

div.stats > div,
div.objectifs > div,
#quiz div > div {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.logo-coeur {
	display: flex;
	justify-content: center;
	margin-top: -4rem;
}
.logo-coeur2 {
	display: flex;
	justify-content: center;
	margin-top: -6rem;
}

.elect {
	display: block;
	margin: auto;
	margin-top: 1rem;
	margin-bottom: 2rem;
}

.stats {
	width: 95%;
}

.separator {
	height: 1px;
	width: 15%;
	background-color: #cb4849;
	margin-left: 0;
}

/* All titles */

h1 {
	font-family: "Catamaran", sans-serif;
	font-weight: 800;
	color: #cb4849;
	font-size: 30px;
	text-transform: uppercase;
	text-align: center;
}

#statistics h1 {
	font-family: "Catamaran", sans-serif;
	font-weight: 100;
	color: white;
	font-size: 30px;
}

h2 {
	font-family: "Poiret One", cursive, sans-serif;
	font-size: 60px;
	color: white;
	letter-spacing: 1rem;
	text-align: center;
}

h3 {
	font-family: "Catamaran", sans-serif;
	font-weight: 800;
	color: white;
	font-size: 28px;
	text-transform: uppercase;
}

h5 {
	font-family: "Catamaran", sans-serif;
	font-weight: 800;
	font-size: 20px;
	text-transform: uppercase;
	color: white;
}

h6 {
	font-family: "Catamaran", sans-serif;
	font-weight: 800;
	font-size: 22px;
	color: white;
}

/* All buttons */

button {
	text-transform: uppercase;
}

.triggerModal,
figcaption .btn {
	border-radius: 20px;
}

#objectifs button {
	font-weight: bold;
}

/* All paragraphs */

#concept p,
#pedagogy p,
#pictures p {
	font-family: "Catamaran", sans-serif;
	font-weight: 100;
	color: #434343;
	font-size: 17px;
	text-align: center;
}

#objectifs p,
#statistics p,
#quiz p {
	font-family: "Catamaran", sans-serif;
	font-weight: 100;
	font-size: 17px;
	color: white;
}

/* Cards */

#pedagogy .card-title {
	font-family: "Catamaran", sans-serif;
	font-weight: 800;
	color: #cb4849;
	font-size: 20px;
	text-transform: capitalize;
}
#pedagogy .card-text {
	text-align: left;
}

.card,
#pedagogy {
	border: 0;
}

#quiz .card {
	position: relative;
}

.card-img-overlay {
	opacity: 0.8;
	color: white;
	background: black;
	width: 70%;

	margin: 2rem 0rem 2rem 8rem;
	padding: 1rem;
	position: absolute;
}

/* Footer */

footer,
.container-fluid {
	padding-right: 0;
	padding-left: 0;
	font-family: "Catamaran", sans-serif;
	font-weight: 100;
	font-size: 17px;
}

.footer-bis {
	display: inline-flex;
	width: 100%;
	height: 3rem;
	padding-left: 10rem;
	align-items: center;
}

@media all and (max-device-width: 320px) {
	div .card-img-overlay {
		position: absolute;
		width: 100%;
		height: 100%;
		margin: 0.5rem 0.5rem 5rem 0.5rem;
	}
	#quiz .img-fluid {
visibility: hidden;
	}
	h6 {
		font-size: 17px;
		margin-bottom: 0;
}
}

@media all and (max-device-width: 480px) {
	.card-img-overlay {
		position: absolute;
		width: 80%;
		margin: 2rem 2rem 2rem 7rem;
		padding: 1rem;
	}
	h6 {
		font-size: 18px;
		line-height: 0.8rem;
	}
	.card-img-overlay div.button {
		padding-top: 1rem;
	}
	
}

@media all and (max-width: 576px) {
	.card-img-overlay {
		position: absolute;
		width: 75%;
		margin: 1rem 1rem 1rem 6rem;
		padding: 1.5rem;
	}
	.card-img-overlay div.button {
		margin-bottom: 1.5rem;
	}
}

@media all and (max-width: 768px) {
	.card-img-overlay {
		position: absolute;
		width: 75%;
		margin: 1rem 1rem 1rem 7rem;
		padding: 1.5rem;
	}
}


@media all and (max-width: 992px) {
	.card-img-overlay {
		position: absolute;
		width: 75%;
		margin: 1rem 1rem 1rem 5rem;
		padding: 0.5rem;
	}

	#quiz .card-title {
		padding-bottom: 0.6rem;
	}
}

@media all and (min-width: 992px) and (max-width: 1199.98px) {
	.card-img-overlay {
		position: absolute;
		width: 75%;
		margin: 1rem 1rem 1rem 5rem;
		padding: 0.5rem;
	}
	#quiz .card-title {
		padding-bottom: 0.8rem;
	}
}
